<!DOCTYPE html>
<html>
<head>
    <title>Healthcare Prediction</title>
</head>
<body>

    <h1>Healthcare Prediction App</h1>

    <form action="/predict" method="post">
        <input type="text" name="age" placeholder="Enter Age" required>
        <input type="text" name="bp" placeholder="Enter Blood Pressure" required>
        <input type="text" name="cholesterol" placeholder="Enter Cholesterol" required>

        <input type="submit" value="Predict">
    </form>

    <h2>{{ prediction_text }}</h2>

</body>
</html>
